// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-weight-title: 900;
$font-weight-description: 300;
$font-size-title: clamp(1.9375rem, 3.9vw, 3.0625rem);
$font-size-description: clamp(1rem, 1.6vw, 3rem);

// Colors
$color-white: #FFF;
$color-gray-light: #F7F7F7;
$color-red-strong: #F41E1E;
$color-black-strong: #000;
$color-black-light-shadow: rgba(0, 0, 0, 0.2);


// Max-width container
$max-width-container: 1200px;