@use "../shared/variables";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family-base;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$color-gray-light;
}

h1 {
    font-size: variables.$font-size-title;
}

h3 {
    color: variables.$color-red-strong;
    font-size: variables.$font-size-description;
}  

p {
    font-size: 1rem;
}  

ul {
    padding: 0px
}



